<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Debtfinder</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    </head>

    <body>

        <header>
            <nav class="navbar">

                <div class="brand__logo">
                    <img src="img/LOGO (2).svg" id="logo" alt="brand-logo">
                </div>

                <ul class="nav__links">

                    <li>
                        <a href="">Home</a>
                    </li>

                    <li>
                        <a href="">About Us</a>
                    </li>

                    <li>
                        <a href="">Contact Us</a>
                    </li>

                    <li>
                        <a href="">FAQs</a>
                    </li>


                </ul>


                <div>
                    <a href="" id="header-btn-a">Log In
                    </a>
                    <a href="" id="header-btn-b">Register
                    </a>
                </div>

            </nav>

        </header>


        <main class="s-container">
            <div class="s-content">

                <h2 class="s-copy">
                    Debt Tracking In<span>
                        Schools Made Easy</span>
                    For You
                </h2>
                <p class="sub-text">Track debtors, Collaborate with school owners, check
                    <span>Credibility and manage debts for school administrators.</p>

                    <button class="content-btn">Register with Us</button>
                </p>
            </div>

            <div class="image-holder">

                <img src="img/Rectangle 142.svg" id="img" alt="template">

            </div>


        </main>

        <section class="body">
            <div class="brand-users">

                <div class="client">
                    <p>
                        140K+<span>
                            Schools</p>
                    </p>
                </div>


                <div class="client">
                    <p>
                        100K+<span>
                            Users</p>
                    </p>
                </div>


                <div class="client">
                    <p>
                        250K+<span>
                            Visits</p>
                    </p>
                </div>
            </div>


            <div class="logo-container">
                <div class="top-left">
                    <img src="img/Rectangle 24.svg" alt="client" id="client">
                </div>

                <div class="bottom-left">
                    <img src="img/Rectangle 27.svg" alt="client" id="client">
                </div>


                <div class="bottom-right">
                    <img src="img/Rectangle 30 (1).svg" alt="client" id="client">
                </div>

                <div class="bottom-center">
                    <img src="img/Rectangle 29.svg" alt="client" id="client">
                </div>

                <div class="centered">
                    <img src="img/Rectangle 25.svg" alt="client" id="client">
                </div>

                <div class="center">
                    <img src="img/Rectangle 26.svg" alt="client" id="client">
                </div>


                <div class="top-right">
                    <img src="img/Rectangle 27.svg" alt="client" id="client">
                </div>
            </div>


        </section>

        <section class="contentcopy">
            <div class="s-heading">
                <h2>About Us</h2>
                <p>Debtors Listing Directory In Schools Made Easy For You</p>
            </div>

            <div class="value-container">

                <div class="float-left">

                    <h2>
                        Our Core Value
                    </h2>
                    <p>Our company values are  built upon the satisfaction of our users,
                        <span>
                            we have patterned with over hundreds of users, who have built</span>
                        trust with us over the years.<span></p>
                    </p>
                    <p class="paragraph">Our  principles ensures the free flow of effective managerial<span>
                            skills, Good users experience, and making sure production and</span>
                        usability are implemented...
                    </p>

                    <button class="content-btn">
                        Read more about us
                    </button>

                </div>


                <div class="png-image">
                    <img src="img/Rectangle 85.jpg" id="png" alt="image">
                </div>


            </div>


        </section>

        <section class="s-offer">
            <div class="offer-copy">
                <h2>What We Offer</h2>
                <p>Debt Collection In Schools Made Easy For You</p>
            </div>

            <div class="images">
                <div class="img-holder">
                    <img src="img/img1.png" id="imgg">
                    <p>Easy tracking of debts</p>
                </div>
                <div class="img-holder">
                    <img src="img/img2.png" id="imgg">
                    <p>
                        Debtors listing
                    </p>
                </div>
                <div class="img-holder">
                    <img src="img/img3.png" id="imgg">
                    <p>School admin collaboration</p>
                </div>
            </div>

        </section>


        <section class="s-review">
            <div class="review-copy">
                <h2>Reviews</h2>
                <p>See What Our Customers Are Saying About Us</p>
            </div>

            <div class="previous-arrow">
                <i><</i></div><divclass="next-arrow"><i>></i>
            </div>


            <div class="card-container">
                <div class="card">
                    <img src="img/profile pic.png" id="profile-img">
                    <h4>Shabnah Saif</h4>
                    <p class="img-p">School Owner</p>
                    <p>A great app for school<span>owners to track debtors. I</span>
                        have been using this tool<span></p>
                    </p>
                </div>

                <div class="card">
                    <img src="img/profile pic2.png" id="profile-img">
                    <h4>Karen Smith</h4>
                    <p class="img-p">School Owner</p>
                    <p>Debt finder have being a
                        <span>great tool for my team and I,</span>
                        Easy to user features</p>
                </div>

                <div class="card">
                    <img src="img/profile pic3.png" id="profile-img">
                    <h4>Abubakar Aremu</h4>
                    <p class="img-p">Principal</p>
                    <p>A debtor listing app has<span>
                            never been these great. I</span>
                        love been a debt finder user</p>
                </div>


                <div class="card">
                    <img src="img/profile pic4 (1).png" id="profile-img">
                    <h4>Amir  Prakash</h4>
                    <p class="img-p">School Manager</p>
                    <p>I will recommed this tool for<span>
                            any school owner looking to</span>
                        run their school efficiently</p>
                </div>
            </div>

            <div class="review-link ">
                <a href="">See All Review</a>
            </div>

        </section>


        <footer class="web-footer">

            <!--newsletter-->

            <div class="newsletter">


                <form action="/action_page.php">
                    <h2>Subscribe to our free newsletter</h2>

                    <input type="text" placeholder="Enter your email" name="Enter your email" required><input type="submit" value="Subscribe">
                </form>


                <!--newsletter ends-->

                <!--footer-->

                <div class="row">
                    <div class="coloum">
                        <h3>Debt Finder</h3>

                        <a href="#" class="footer-link">About Us</a>
                        <a href="#" class="footer-link">What We Offer</a>
                        <a href="#" class="footer-link">Register</a>
                        <a href="#" class="footer-link">FAQs</a>


                    </div>


                    <div class="coloum">
                        <h3>Our Services</h3>

                        <a href="#" class="footer-link">Debtor Listing</a>
                        <a href="#" class="footer-link">Reciept Management</a>
                        <a href="#" class="footer-link">Admin Collaboration</a>

                    </div>


                    <div class="coloum">
                        <h3>Contact Us</h3>

                        <!--footer icons-->

                        <div class="social-icons">
                            <a href="#" title="facebook" class="icon">
                                <i class="fa fa-facebook-f"></i>
                            </a>

                            <a href="#" title="twitter" class="icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" title="web" class="icon">
                                <i class="fa fa-globe"></i>
                            </a>
                        </div>

                    </div>


                </div>

                <div class="copyright">
                    <p>Copyright@2022 Debt Finder. All rights reserved</p>
                    
                </div>

                <div class="copyright-link">
                    <a href="#">Terms & Condition</a>
            
                </div>

                <div class="copyright-link">
                   
                    <a href="#">Privacy Policy</a>
                </div>


                <!--footer ends-->


            </div>


        </footer>


    </body>

</html>
