@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700;800&family=Lexend+Deca&family=Nunito+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;


}
body{
  min-height: 100vh;
  background-color:white;
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header { background-color: transparent; }

.header.active { background-color: var(--white); }

header {
   
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: #210440;
  margin-bottom: 10px;
  

}

.brand__logo{
  margin-top: 1.5rem;
  height: 67px;
}

#logo{
  
  height: 41px;
}

/* navigation bar */
.navbar {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav__links {
  list-style: none;
  display: flex;
}


.nav__links li {
  padding-left: 3rem;
}

.nav__links a {
  text-decoration: none;
  
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}


/* navigation bar ends */

/* header primary btn */
.header-btn{
  display: flex;
  
}

#header-btn-a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family:'Poppins', sans-serif;
  color: #ffffff;
  margin-top: 3px;
 
}


#header-btn-b {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-left: 9px;
  background-color: transparent;
  padding: 6px 10px;    
  color: #ffffff;
  border-radius: 9px;
  cursor: pointer;
  border: #ffffff solid 2px;
 
}

#header-btn-b:hover{
  cursor: pointer;
  background-color: #ffffff;
  color: #210440;

}







/*-----------------------------------*\
  #main.css
\*-----------------------------------*/



/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --violet-blue-crayola: rgb(17, 18, 27);
    --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
    --white: hsla(0, 0%, 100%, 1);
    --white_a3: hsla(0, 0%, 100%, 0.03);
    --white_a8: hsla(0, 0%, 100%, 0.08);
    --white_a12: hsla(0, 0%, 100%, 0.12);
    --white_a70: hsla(0, 0%, 100%, 0.7);
    --cultured: hsla(220, 20%, 97%, 1);
    --lavender-web: hsla(233, 52%, 94%, 1);
    --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
    --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
    --charcoal: hsla(218, 22%, 26%, 1);
    --raisin-black: hsla(216, 14%, 14%, 1);
    --light-gray: rgb(10, 7, 7);
    --blue-crayola: rgb(12, 17, 27);
    --black-coral: rgb(16, 20, 29);
  
    /**
     * typography
     */
  
    --ff-nunito: 'Nunito Sans', sans-serif;
  
    --fs-1: calc(2.7rem + 1.38vw);
    --fs-2: calc(2.6rem + .66vw);
    --fs-3: 2.2rem;
    --fs-4: 1.9rem;
    --fs-5: 1.8rem;
    --fs-6: 1.7rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    
    --fw-700: 700;
  
    /** 
     * spacing
     */
  
    --section-padding: 90px;
  
    /**
     * box shadow
     */
  
    --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
    --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
    --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);
  
    /**
     * border radius
     */
  
    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-10: 10px;
    --radius-8: 8px;
    --radius-6: 6px;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  
  img:not(.profile-img)
   { display: block;
    width: 90%;
    height: 400px;
   }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  

  
  address { font-style: normal; }
  
  html {
    font-family: var(--ff-nunito);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--white);
    color: var(--black-coral);
    font-size: 1.6rem;
    line-height: 1.7;
  }
  
  body.nav-active { overflow: hidden; }
  
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }
  
  ::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }
  
  ::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
  
  
  
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 16px; }

  
  .section { padding-block: var(--section-padding); }
  

 
  
  
 
  
  .grid-list {
    display: grid;
    gap: 25px;
  }
  
  .w-100 { width: 100%; }




  /* Company vision and mission */
  
  .company{
    display: block;
    gap: 50px;
  }

  .company-vision{
    border: 1px solid red;
    padding: 50px;
    width: 500px;
    height: 200px;
    margin-left: 95px;
    margin-bottom: 20px;
    border-radius: 10px;
    /* overflow: auto; */
  }
  .company-mission{
    border: 1px solid red;
    padding: 50px;
    width: 500px;
    height: 200px;
    margin-left: 700px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .company-head-2{
  text-align: end;
  margin-top: auto;
  
  }

  .cta-btn{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    

  }

  .getstarted{
    padding: 10px;
    background-color: #210440;
    color: white;
    border-radius: 50px;
    font-weight: var(--fw-700);
    font-family: var(--ff-nunito);
    margin-top: 0px;
    font-size: 16px;


  }
  
  /*-----------------------------------*\
    #SERVICE
  \*-----------------------------------*/
  
  .service { text-align: center; }
  
  .service .section-title { margin-block-end: 50px; }
  
  .service-card {
    padding: 40px;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-6);
    background-color: rgba(240, 190, 236, 0.973);
  }
  
  .service-card .card-icon {
    width: 60px;
    height: 60px;
    background-color: var(--violet-blue-crayola);
    display: grid;
    place-items: center;
    color: var(--white);
    font-size: 2.5rem;
    border-radius: var(--radius-circle);
    margin-inline: auto;
  }
  
  .service-card .card-icon ion-icon { --ionicon-stroke-width: 50px; }
  
  .service-card .card-title { margin-block: 16px 10px; }
  
  .service-card .btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-block-start: 10px;
    color: var(--violet-blue-crayola);
    font-weight: var(--fw-700);
    transition: var(--transition-1);
  }
  
  .service-card .btn-text:is(:hover, :focus-visible) { opacity: 0.9; }
  
  
  
  
  
  /*-----------------------------------*\
    #ABOUT
  \*-----------------------------------*/
  
  .about .container {
    display: grid;
    gap: 50px;
    margin-top: 80px;
  }
  
  .about .section-title { margin-block-end: 35px; }
  
  .accordion-card .card-title { padding-block-end: 20px; }
  
  .accordion-btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .accordion-btn {
    font-size: 1.5rem;
    color: var(--blue-crayola);
    transition: var(--transition-1);
  }
  
  .accordion-card.expanded .accordion-btn ion-icon {
    transform: rotate(0.5turn);
  }
  
  .accordion-btn .span { transition: var(--transition-1); }
  
  .accordion-btn:is(:hover, :focus-visible) .span,
  .accordion-card.expanded .accordion-btn .span { color: var(--violet-blue-crayola); }
  
  .accordion-content {
    padding-inline-start: 24px;
    max-height: 0;
    overflow: hidden;
  }
  
  .accordion-card.expanded .accordion-content {
    max-height: max-content;
    padding-block-end: 20px;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #FEATURES
  \*-----------------------------------*/
  
  .feature .container {
    display: grid;
    gap: 50px;
  }
  
  .feature .section-text { margin-block: 25px 30px; }
  
  .feature-list {
    display: grid;
    gap: 15px;
  }
  
  .feature-card {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .feature-card .card-icon {
    background-color: var(--lavender-web);
    font-size: 1.4rem;
    padding: 4px;
    border-radius: var(--radius-circle);
  }
  
  .feature-card .card-icon ion-icon { --ionicon-stroke-width: 40px; }
  
  
.s-review {
  margin-top: 4rem;
  height: 100vh;
}

.review-copy {
  padding: 2rem;
  text-align: center;
}

.review-copy h2 {
  font-size: 24px;
}

.offer-copy p {
  font-size: 20px;
  color: #292D32;
  margin-top: 1rem;
}

#imgg {
  height: 400px;
  width: 300px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-holder p {
  text-align: center;
  

}

.img-holder {
  margin-right: 3rem;
}

.card-container {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.card {
  background-color: #FAEAE8;
  width: calc(90%/4);
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #210440;
  height: 350px;
}

.card p:not(.img-p) {
  text-align: left;
  font-size: 16px;
  color: #242424;
}

.profile-img {
  height: 100px;
  width: 100px;
}

.img-p {
  text-align: center;
  font-size: 16px;
  color: #0C0118;
  margin-bottom: 1rem
}

.review-link {
  float: right;
  margin: 2rem;
}

.review-link a {
  color: #0C0118;
}
.web-footer {

  height: 70vh;
  background-color: #210440;
}

.newsletter {
  text-align: center;

}

.newsletter h2 {
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  padding: 2rem;

}

/* form input */

input[type=text] {
  background-color: #210440;
  border: 1px solid #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none !important;
  padding: 0.5rem 4rem;
  color: #B5ABBF;


}





input[type="submit"] {

  cursor: pointer;
  color: #ffffff;
  background-color: #B5ABBF;
  border: 1px solid #B5ABBF;
  padding: 0.5rem 4rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}

input[type="submit"]:hover {
  opacity: 0.8;

}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.coloum {
  margin: 60px;
  cursor: pointer;
}

.coloum h3 {
  padding-bottom: 13px;
  text-align: left;
  font-weight: 500;
  color: #ffffff;
}



.footer-link {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 400;
  color: #B5ABBF;
  text-decoration: none;


}

.footer-link:hover {
  text-decoration-line: underline;
  text-underline-offset: 8px;
}


.social-icons {
  display: flex;

}

.social-icons .icon {
  text-decoration: none;
  font-size: 24px;
  color: #B5ABBF;
  margin: 5px;
  text-align: center;
  border-radius: 50%;
}

.social-icons .icon:hover {
  color: #dbd7de;
}

/* terms and condition/privacy */

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  gap: -20px;
}

.copyright p {
  color: #ffffff80;
}

.copyright-link {
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: #B5ABBF;
  margin-right: 2rem;

}



.copyright-link a {
  text-decoration: none;
  color: #B5ABBF;
  text-underline-offset: 8px;
}

.copyright-link a:hover {
  color: #dbd7de;
  text-decoration: underline;
  text-underline-offset: 8px;
}
  
  /**
   * responsive for large than 575px screen
   */
  
  @media (min-width: 575px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
  
  
    /**
     * PROJECTS
     */
  
    .project-card .card-content { padding: 40px; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 120px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 720px; }
  
    .grid-list { grid-template-columns: 1fr 1fr; }
  
  
  
  
    /**
     * SERVICE
     */
  
    .service .section-title {
      max-width: 30ch;
      margin-inline: auto;
    }
  
  
  
    /**
     * ABOUT
     */
  
    .about .container {
      grid-template-columns: 1fr 0.7fr;
      align-items: center;
    }
  
  
  
    /**
     * FEATURE
     */
  
    .feature .container {
      grid-template-columns: 0.7fr 1fr;
      align-items: center;
    }
  
    .feature-banner { order: 1; }
  
  }
  
  
  
  
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
  
  
  
    /**
     * STATS
     */
  
    .stats-card { grid-template-columns: repeat(4, 1fr); }
  
  
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1140px; }
  

  
  
  
    /**
     * SERVICE
     */
  
    .service .grid-list { grid-template-columns: repeat(4, 1fr); }
  
  
  
    /**
     * STATS
     */
  
    .stats .container { max-width: 70%; }
  
    .stats-card { padding: 60px; }
 
  
  }
  
  
  
  
  
  /**
   * responsive for large than 1400px screen
   */
  
  @media (min-width: 1400px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1320px; }
  
    
  
    /**
     * FEATURE
     */
  
    .feature-list { grid-template-columns: 1fr 1fr; }
  
  }