* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Nunito;
}
body {
  height: 100vh;
}
.row {
  display: flex;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}
.logo-section {
  display: grid;
  justify-content: center;
}
.sidebar {
  height: 100%;
  width: 281px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #210440;
  color: #ffffff;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  color: #ffffff;
  width: 500px;
  size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-style: none;
}

.sidebar a:hover {
  background: #f0f0f0;
}

.logo {
  margin-top: 60px;
  margin-left: 48px;
}

.logo-text {
  font-weight: 400;
  size: 200px;
  padding: 8px 8px 8px 32px;
}

.item {
  display: flex;
}

.item-2 {
  margin-top: 70px;
}

.search {
  width: 895px;
  height: 43px;
  border-radius: 10px;
  color: black;
  padding-left: 30px;
  background: rgba(217, 217, 217, 0.36);
  justify-content: center;
  margin-top: 74px;
  margin-bottom: 50px;
  position: relative;
  display: flex;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 400px;
  font-style: normal;
  line-height: 14px;
  margin-left: 59px;
}

input:focus {
  outline: none;
}

button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: none;
  padding-left: 10px;
  margin-left: 40.25px;
}
button i {
  width: 13.12px;
  height: 14.58px;
}
table {
  width: 90%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
}
thead tr {
  background-color: #f6dcd9;
  margin-right: 20px;
}

tbody tr {
  border-radius: 20px;
}
th {
  border-radius: 10pxpx;
}

th,
td {
  padding: 20px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f6dcd9;
}

.view {
  cursor: pointer;
}
