<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="database.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

   

    <div class="sidenav">

        <div class="brand-logo">
            <img src="img/LOGO (2).svg" alt="logo" id="logo">
        </div>

        <a href=""><i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>

        <a href=""><i class="fa fa-user" aria-hidden="true"></i>
            Home
        </a>

        <a href=""><i class="fa fa-database" aria-hidden="true"></i>
            Debtor Database
        </a>
        
        <a href=""><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            School
        </a>

        <a href=""><i class="fa fa-bars" aria-hidden="true"></i>
            Add New Debtor
        </a>

        <a href=""><i class="fa fa-id-card" aria-hidden="true"></i>
            Student Checker
        </a>


        <div class="bottom-nav">
            <a href="">
                Settings
            </a>
    
            <a href="">
               Help & Support
            </a>
    
            <a href="">
               Log Out
            </a> 
      </div>
   </div>

   
   



   <div class="main">
        <div class="search-container">

            
            <form action="/action_page.php">
                
                <input type="text" placeholder="Search"  name="search">
                <i class="fa fa-search">
                    
                </i>
            </form>
        </div>

        <div class="btn">
            <button class="pending">Pending</button>
            <button class="completed">Completed</button>
            
        </div>

        <div class="btn1">
            <button class="filter">Filter:</button>
        </div>
   </div>
    
</body>
</html>