<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/SchoolProfilePage.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <div class="row">
        <div class="left">
          <section class="sidebar">
            <div class="logo-section">
              <img
                class="logo"
                src="../static/img/_Logo  (5) 2.svg"
                alt="logo"
              />
              <h1 class="logo-text">Dept Finder</h1>
            </div>
            <div class="items">
              <div>
                <a href="" class="item"
                  ><img src="../static/img/home.svg" alt="home" class="icons" />
                  Home</a
                >
              </div>
              <div>
                <a href="" class="item">
                  <img src="../static/img/user.svg" alt="" class="icons" />
                  Profile</a
                >
              </div>
              <div>
                <a href="" class="item"
                  ><img
                    src="../static/img/Vector (2).svg"
                    alt=""
                    class="icons"
                  />
                  Debtor Database</a
                >
              </div>
              <div>
                <a href="" class="item"
                  ><img
                    src="../static/img/teacher.svg"
                    alt=""
                    class="icons"
                  />Schools</a
                >
              </div>
              <div>
                <a href="" class="item">
                  <img
                    src="../static/img/Vector (3).svg"
                    alt=""
                    class="icons"
                  />Add New Deptor</a
                >
              </div>
              <div>
                <a href="" class="item">
                  <img
                    src="../static/img/Vector (1).svg"
                    alt=""
                    class="icons"
                  />Student Checker</a
                >
              </div>
            </div>
            <div class="item-2">
              <div>
                <a href="" class="item"
                  ><img
                    src="../static/img/setting-2.svg"
                    alt=""
                    class="icons"
                  />
                  Settings</a
                >
              </div>
              <div class="item">
                <a href=""
                  ><img
                    src="../static/img/help-circle.svg"
                    alt=""
                    class="icons"
                  />
                  Help & Support</a
                >
              </div>
              <div class="item">
                <a href=""
                  ><img src="../static/img/logout.svg" alt="" class="icons" />
                  Log Out</a
                >
              </div>
            </div>
          </section>
        </div>
        <div class="right">
          <section class="profile-section">
            <div class="profile-header">
              <img
                src="../static/img/school_profile_pix.png"
                alt="school_profile_pix"
                class="profile-pix"
              />
              <div class="school-info">
                <h3>Name of school</h3>
                <p>location, State</p>
              </div>
            </div>
            <div class="btn-section">
              <button class="chng-btn">Change Picture</button>
              <button class="del-btn">Delete Picture</button>
              <button class="chng-btn">Edit Profile</button>
            </div>
            <div class="account-form">
              <p>Account Information</p>
              <form action="">
                <div class="form-parts">
                  <div class="form-control">
                    <label for="">Name of School Owner</label>
                    <input type="text" class="form1-input" />
                  </div>
                  <div class="form-control">
                    <label for="">Name of School</label>
                    <input type="text" class="form1-input" />
                  </div>
                </div>
                <div class="form-parts">
                  <div class="form-control">
                    <label for="">School Address</label>
                    <input type="text" class="form1-input" />
                  </div>
                  <div class="form-control">
                    <label for="">Email</label>
                    <input type="email" class="form1-input" />
                  </div>
                </div>
                <div class="form-parts">
                  <div class="form-control">
                    <label for="">Phone Number</label>
                    <input type="text" class="form1-input" />
                  </div>
                  <div class="form-control">
                    <label for="">CAC Number</label>
                    <input type="number" class="form1-input" />
                  </div>
                </div>
                <div class="form-parts">
                  <div class="form-control">
                    <label for="">Discrete Code</label>
                    <input type="text" class="form1-input" />
                  </div>
                  <div class="form-control">
                    <label for="">Website</label>
                    <input type="text" class="form1-input" />
                  </div>
                </div>
                <div class="form-parts">
                  <div class="form-control">
                    <label for="">School Unique Number</label>
                    <input type="text" class="form2-input" />
                  </div>
                  <div class="form-part2">
                    <div class="form-control">
                      <label for="">LGA</label>
                      <input type="text" class="form2-input" />
                    </div>
                    <div class="form-control">
                      <label for="">State</label>
                      <input type="text" class="form2-input" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
