<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Of School</title>
  </head>
  <body>
    <main>
      <section>
        <a href="">Home</a>
        <a href="">Profile</a>
        <a href="">Deptor Database</a>
        <a href="">Schools</a>
        <a href="">Add New Deptor</a>
      </section>
    </main>
  </body>
</html>
