<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/Dashboard.css' %}" />
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <div class="row">
        <div class="left">
          <section class="sidebar">
            <div class="logo-section">
              <img
                class="logo"
                src="{% static 'img/logo.svg' %}"
                alt="logo"
              />
              <h1 class="logo-text">Dept Finder</h1>
            </div>
            <div class="items">
              <div>
                <a href="{% url 'homepage' %}" class="item"
                  ><img src="{% static 'img/home.svg' %}" alt="home" class="icons" />
                  Home</a
                >
              </div>
              <div>
                <a href="{% url 'Profile' %}" class="item">
                  <img src="{% static 'img/user.svg' %}" alt="" class="icons" />
                  Profile</a
                >
              </div>
              <div>
                <a href="{% url 'database' %}" class="item"
                  ><img
                    src="{% static 'img/vector2.svg' %}"
                    alt=""
                    class="icons"
                  />
                  Debtor Database</a
                >
              </div>
              <div>
                <a href="{% url 'schools' %}" class="item"
                  ><img
                    src="{% static 'img/teacher.svg' %}"
                    alt=""
                    class="icons"
                  />Schools</a
                >
              </div>
              <div>
                <a href="{% url 'addDebtor' %}" class="item">
                  <img
                    src="{% static 'img/vector3.svg' %}"
                    alt=""
                    class="icons"
                  />Add New Deptor</a
                >
              </div>
              <div>
                <a href="" class="item">
                  <img
                    src="{% static 'img/vector1.svg' %}"
                    alt=""
                    class="icons"
                  />Student Checker</a
                >
              </div>
            </div>
            <div class="item-2">
              <div>
                <a href="{% url 'setting' %}" class="item"
                  ><img
                    src="{% static 'img/settings.svg' %}"
                    alt=""
                    class="icons"
                  />
                  Settings</a
                >
              </div>
              <div class="item">
                <a href="{% url 'contactUs' %}"
                  ><img
                    src="{% static 'img/circle.svg' %}"
                    alt=""
                    class="icons"
                  />
                  Help & Support</a
                >
              </div>
              <div class="item">
                <a href="{% url 'logout' %}"
                  ><img src="{% static 'img/logout' %}" alt="" class="icons" />
                  Log Out</a
                >
              </div>
            </div>
          </section>
        </div>
        <div class="right">
          <section>
            <form action="" class="search">
              <button class="search-btn">
                <i class="fa fa-light fa fa-magnifying-glass"></i>
              </button>
              <input type="search" placeholder="search" class="search-input" />
            </form>
            <h1>Add a new debtor</h1>
            <form action="" method="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-control">
                <label for="full-name">{{field.label_tag}}</label>
                {{field}}
              </div>
              {% endfor %}

              <button class="btn">Add Debtor</button>
            </form>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
