        {% load static %}
<link rel="stylesheet" href="{% static 'styles/footer.css' %}" />
        <footer class="web-footer">

            <!--newsletter-->

            <div class="newsletter">


                <form action="/action_page.php">
                    <h2>Subscribe to our free newsletter</h2>

                    <input type="text" placeholder="Enter your email" name="Enter your email" required><input type="submit" value="Subscribe">
                </form>


                <!--newsletter ends-->

                <!--footer-->

                <div class="row">
                    <div class="coloum">
                        <h3>Debt Finder</h3>

                        <a href="#" class="footer-link">About Us</a>
                        <a href="#" class="footer-link">What We Offer</a>
                        <a href="#" class="footer-link">Register</a>
                        <a href="#" class="footer-link">FAQs</a>


                    </div>


                    <div class="coloum">
                        <h3>Our Services</h3>

                        <a href="#" class="footer-link">Debtor Listing</a>
                        <a href="#" class="footer-link">Reciept Management</a>
                        <a href="#" class="footer-link">Admin Collaboration</a>

                    </div>


                    <div class="coloum">
                        <h3>Contact Us</h3>

                        <!--footer icons-->

                        <div class="social-icons">
                            <a href="#" title="facebook" class="icon">
                                <i class="fa fa-facebook-f"></i>
                            </a>

                            <a href="#" title="twitter" class="icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" title="web" class="icon">
                                <i class="fa fa-globe"></i>
                            </a>
                        </div>

                    </div>


                </div>

                <div class="copyright">
                    <div>
                    <p>Copyright@2022 Debt Finder. All rights reserved</p>
                    </div>
                    
                    
                

                    <div class="copyright-link">
                    <a href="#">Terms & Condition</a>
            

                   
                    <a href="#">Privacy Policy</a>
                    </div>
                </div>

                <!--footer ends-->


            </div>


        </footer>