<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/ListOfSchool.css" />
    <title>List Of School</title>
  </head>
  <body>
    <main>
      <div class="row">
        <div class="left">
          <section class="sidebar">
            <div class="logo-section">
              <img
                class="logo"
                src="../static/img/_Logo  (5) 2.svg"
                alt="logo"
              />
              <h1 class="logo-text">Dept Finder</h1>
            </div>
            <div class="items">
              <div class="item">
                <a href=""
                  ><img src="../static/img/home.svg" alt="home" /> Home</a
                >
              </div>
              <div class="item">
                <a href="">
                  <img src="../static/img/user.svg" alt="" /> Profile</a
                >
              </div>
              <div class="item">
                <a href=""
                  ><img src="../static/img/Vector (2).svg" alt="" /> Debtor
                  Database</a
                >
              </div>
              <div class="item">
                <a href=""
                  ><img src="../static/img/teacher.svg" alt="" />Schools</a
                >
              </div>
              <div class="item">
                <a href="">
                  <img src="../static/img/Vector (3).svg" alt="" />Add New
                  Deptor</a
                >
              </div>
              <div class="item">
                <a href="">
                  <img src="../static/img/Vector (1).svg" alt="" />Student
                  Checker</a
                >
              </div>
            </div>
            <div class="item-2">
              <div class="item">
                <a href=""
                  ><img src="../static/img/setting-2.svg" alt="" /> Settings</a
                >
              </div>
              <div class="item">
                <a href=""
                  ><img src="../static/img/help-circle.svg" alt="" /> Help &
                  Support</a
                >
              </div>
              <div class="item">
                <a href=""
                  ><img src="../static/img/logout.svg" alt="" /> Log Out</a
                >
              </div>
            </div>
          </section>
        </div>
        <div class="right">
          <section>
            <form action="" class="search">
              <button>
                <i class="fa fa-light fa fa-magnifying-glass"></i>
              </button>
              <input type="search" placeholder="search" />
            </form>
            <table>
              <thead>
                <tr>
                  <th>School Name</th>
                  <th>Location</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td>view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
                <tr>
                  <td>Paulson College</td>
                  <td>lagos Island</td>
                  <td class="view">view</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
