<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>ABOUT US PAGE</title>

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Poppins:ital,wght@0,300;0,500;0,700;1,400&display=swap" rel="stylesheet">
  

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="about.css">



</head>

<body>
  <header>
    <nav class="navbar">
      <div class="brand__logo">
        <img src="debtor images/App logo.svg" id="logo" alt="brand-logo" />
      </div>

      <ul class="nav__links">
        <li>
          <a href="">Home</a>
        </li>

        <li>
          <a href="">About Us</a>
        </li>

        <li>
          <a href="">Contact Us</a>
        </li>

        <li>
          <a href="">FAQs</a>
        </li>
      </ul>

      <div class="header-btn">
        <a href="" id="header-btn-a">Log In </a>
        <a href="" id="header-btn-b">Register </a>
      </div>
    </nav>
  </header>





  <main>
    <article>

    
      <!-- 
        - #ABOUT
      -->

      <section class="about" aria-labelledby="about-label">
        <div class="container">

          <figure class="about-banner">
            <img src="./debtor images/aboutus page image1.png" width="400" height="400" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

          <div class="about-content">


            <ul>

              <li class="about-item">
                <div class="accordion-card expanded" data-accordion>

                  <h3 class="card-title">
                    <button class="accordion-btn" data-accordion-btn>

                      <spna class="span h3" style=" margin-left:20px ;">What Do We Offer You ?</spna>
                    </button>
                  </h3>

                  <p class="accordion-content">
                    Debt Finder app is an online app that allows
                    school in certain locality to list directory of people
                    owing them academic finances and to keep them from
                    going to other schools.
                  </p>

                </div>
              </li>


            </ul>

          </div>

        </div>
      </section>


      <section class="section feature" aria-labelledby="feature-label">
        <div class="container">

         

          <div class="about-content">


            <ul>

              <li class="about-item">
                <div class="accordion-card expanded" data-accordion>

                  <h3 class="card-title">
                    <button class="accordion-btn" data-accordion-btn>

                      <spna class="span h3"  style=" margin-left:20px ;">Our Core Values</spna>
                    </button>
                  </h3>

                  <p class="accordion-content">
                    Our Company values are built upon the satisfaction of our
                    users. We have partnered with over hundred of users, who have 
                    built trust with us over the years.Our principles ensures the
                    free flow of effective Managerial skills, good users experience,
                    and making sure production and usability are implemented.
                  </p>

                </div>
              </li>

             

            </ul>

          </div>


          <figure class="about-banner">
            <img src="./debtor images/aboutus page image2.png" width="100" height="100" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

        </div>
      </section>






   <div class="company">
    <section class="company-vision" >
        <div class="content">
            <h4 class="company-head-1">Our Vision</h4>
            <p>To build a community where academic debt can be tracked by
              the school authorities, reducing the fear of people <running-off>with the school finances.</running-off>
            </p>
         </div>
      </section>
      <section class="company-mission" >
        <div class="content">
            <h4 class="company-head-2">Our Achievement</h4>
            <p>My Debtors App has assisted over thousands of schools in tracking
              down their debtors, by keeping records of all required data.
            </p>
         </div>
      </section>
   </div>
   


   
    <!-- 
        - #SERVICE
      -->

      <section class="section service" aria-labelledby="service-label">
        <div class="container">

          <p class="section-subtitle" id="service-label">Reviews</p>

          <h4 class="h5 section-title">
           See What Our Customers Are Saying About Us
          </h5>

          <ul class="grid-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                 <img src="./debtor images/reviews image1.png" width="50" alt="">
                </div>

                <h3 class="h4 card-title">Shabnah Saif </h3>
                <h5 class="h5 card-title">School Owner</h5>
                
                <p class="card-text">
                  A great app for school owners to track debtors.
                  My goto app for all related to finances.
                </p>

                

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                    <img src="./debtor images/reviews image2.png" width="50" alt="">
                </div>

                <h3 class="h4 card-title">Karen Smith </h3>
                <h5 class="h5 card-title">School Owner</h5>

                <p class="card-text">
                  Debt Finder has been a good tool for my team and I.
                  It has lots of easy to use  features.
                </p>

               </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                    <img src="./debtor images/reviews image3.png" width="50" alt="">
                </div>

                <h3 class="h4 card-title">Abubakar Aremu </h3>
                <h5 class="h5 card-title">Principal</h5>

                <p class="card-text">
                  A debtor listing app has never been these smooth.
                  I love being a debt finder user.
                </p>
              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                    <img src="./debtor images/reviews image4.png" width="50" alt="">
                </div>

                <h3 class="h4 card-title">Amir Prakash </h3>
                <h5 class="h5 card-title">School Manager</h5>
                <p class="card-text">
                  I will recommend this tool to any school
                  owner looking to run their school efficiently. 
                </p>
              </div>
            </li>

          </ul>

        </div>

        <h5 style="margin-top: 24px;"><a href="">See All Reviews</a></h5>

      </section>
   



   <div class="cta-btn">
    <button class="getstarted">Click to Get Started With Us</button>
</div>
</article>
    
  </main>

  <!-- footer -->
<footer class="footer">
  <div class="wrapper">
    <div class="newsletter">
      <h2>Subscribe to our free Newsletter</h2>
      <div class="form">
          <input class="form-control" placeholder="Enter Your Email...">
          <button class="btn3">Subscribe</button>
      </div>
  </div>
      <div class="row">
         <div class="footer-col">
          <h4>Debt Finder</h4>
          <ul>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="whatweoffer">What We Offer</a></li>
            <li><a href="reg">Register</a></li>
            <li><a href="faq">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Our Service</h4>
          <ul>
            <li><a href="debtlisting">Debt Listing</a></li>
            <li><a href="receiptmanagement">Receipt Management</a></li>
            <li><a href="admin">Admin Collaboration</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Contact Us</h4>
            <div class="social-links"></div>
            <a href="facbook"><i class="fa-brands fa-facebook"></i></a>
            <a href="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="globe"><i class="fa fa-globe"></i></a>
        </div>
        </div>
      </div>
      
      <div class="footer-bottom">
        <p>Copyright &copy; 2022 Debt Finder. All right reserved</p>
        <div class="footer-menu">
          <a href="privacy policy">Privacy Policy</a>
          <a href="terms and condition">Terms and Condition</a>
        </div>
      </div>
    </footer>


<!-- 
    - custom js link
  -->
  <script src="script.js"></script>

  <!-- 
    - ionicon
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>