header {
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    width: 100%;
    background-color: #210440;
    

}

.brand__logo{
    margin-top: 1.5rem;
    height: 67px;
    width: 20%;
}

#logo{
    
    height: 60px;
}

/* navigation bar */
.navbar {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav__links {
    list-style: none;
    display: flex;
}


.nav__links li {
    padding-left: 3rem;
}

.nav__links a {
    text-decoration: none;
    
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.nav__links a:hover{
    color: #dbd7de;
    text-decoration: underline;
    text-underline-offset: 8px;
}




/* navigation bar ends */

/* header primary btn */

#header-btn-a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16x;
    font-family:'Poppins', sans-serif;
    color: #ffffff;
   
}
#header-btn-a:hover{
    color: #dbd7de;
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* end of headerstyle */

/* main body styling */

main{
    color:purple;
    background-color: #ffffff;
    top: 10px;
    height: 100%;
}
.main_container{
    justify-content: center;
    align-items: center;
    margin:10%;
    padding: 20px;
      
}
.details{
    background-color:rgba(255, 192, 203, 0.85);
    padding:20px;
    border-radius: 10px;
    height:200px ;
    
}
/* trying to fix tthe problem here */
.details input {
    width: 99%;
    height: 30px;
    border-radius: 7px;
    border: #ffffff;
    padding: 5px;
    background-color:white;

}
.details label{
   font-size: 13px;
   font-weight: 500;  
}
.owned {
    margin-left: -30px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
    background-color: #ffffff;
    padding:20px;
    border-radius: 7px;
    box-shadow:6px 8px 3px rgb(222,214, 214);
   
   

}
.owned button{
    background-color: #210440;
    color: #ffffff;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    margin-top: -10px;

}
.owned h5 {
    font-size: 16px;
    font-weight: 500;

}
.owned p {
    letter-spacing: 1px;
    

}
.btn_contend{
    background-color: #210440;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 10px;
    width: 90%;
    height:40px;
    border-radius: 7px;
    
}
.btn_contend:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #210440;
}

/* style for the pop up message */
/* hidden popup */

    
 .popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(153, 51, 255, 0.4);
    z-index: 1;
    display: none;
 }   

 .popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); scale: 0;
    background: #ffffff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    
 }

.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    
}

.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%); scale: 1;
}
.top{
    margin-left: 20px;
}
.top h3{
text-align: left;
font-size: 25px;
font-weight: 600;
}

.top p{
    width: 300px;
    text-align: left;
}

a{
    text-decoration: none;
    color: pink;

}
a:hover{
    color: rgb(66, 10, 66);
}
.yes {
   margin: 5px; 
   background-color: #210440;
   color: white;
   height: 40px;
   width: 80px;
   border-radius: 10px;
   cursor: pointer;
   font-size: 16px;
}
.yes:hover{
    color: #210440;
    background-color: white;
}


/* end of style of popup message */

/* footer style */

.web-footer{
  
    height: 70vh;
    background-color: #210440; 
 }
 
 .newsletter{
     text-align: center;
 
 }
 
 .newsletter h2{
     font-size: 28px;
     font-weight: 300;
     color: #ffffff;
     padding: 2rem;
 
 }

 
 /* form input */

.inp{
    background-color: #210440;
    border: 1px solid #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none !important;
    padding: 0.5rem 4rem;
    color: #B5ABBF;
    

}





input[type=submit]{
    
    cursor: pointer;
    color: #ffffff;
    background-color: #B5ABBF;
    border: 1px solid #B5ABBF;
    padding: 0.5rem 4rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

input[type=submit]:hover{
    opacity: 0.8;
    
}

.row{
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 

.coloum{
    margin: 60px;
    cursor: pointer;
}

.coloum h3 {
    padding-bottom: 13px;
    text-align: left;
    font-weight: 500;
    color: #ffffff;
}



.footer-link{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 400;
    color: #B5ABBF;
    text-decoration: none;
    
    
}

.footer-link:hover{
    text-decoration-line:underline;
    text-underline-offset: 8px;
}


.social-icons{
    display: flex;
    
}
.social-icons a{
   text-decoration: none;
   font-size: 24px;
   color: #B5ABBF;
   margin: 5px;
   text-align: center;
   border-radius: 50%;
}
.social-icons a:hover{
    color: #dbd7de7b;;
}



/* terms and condition/privacy */

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.copyright p{
    color: #ffffff80;
}

.copyright-link{

    float: right;
    text-decoration: none;
    color: #B5ABBF;
    margin-right: 2rem;

}



.copyright-link a{
    text-decoration: none;
    color: #B5ABBF;
    text-underline-offset: 8px;
}

.copyright-link a:hover{
    color: #dbd7de;
    text-decoration: underline;
    text-underline-offset: 8px;
}