<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>CONTACT US PAGE</title>
  


  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Poppins:ital,wght@0,300;0,500;0,700;1,400&display=swap" rel="stylesheet">
  

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="contact.css">



</head>

<body>
  <header>
    <nav class="navbar">
      <div class="brand__logo">
        <img src="debtor images/App logo.svg" id="logo" alt="brand-logo" />
      </div>

      <ul class="nav__links">
        <li>
          <a href="">Home</a>
        </li>

        <li>
          <a href="">About Us</a>
        </li>

        <li>
          <a href="">Contact Us</a>
        </li>

        <li>
          <a href="">FAQs</a>
        </li>
      </ul>

      <div class="header-btn">
        <a href="" id="header-btn-a">Log In </a>
        <a href="" id="header-btn-b">Register </a>
      </div>
    </nav>
  </header>

  <main>
    <div class="contact">
        <form action="">
            <h2 class="headline-sm" id="contact-label">Get In Touch</h2>
            <div>
            <label for="name" class="label">School Name:</label><br>
            <input type="text" name="name" id="name" placeholder="Name *" required class="input-field"><br>
    
                 
                 <label for="email" class="label">Your Email: </label><br>
                 <input type="email" name="email" id="email" placeholder="Email *" required class="input-field"><br>
              

             <label for="subject" class="label">Subject:</label><br>
             <input type="text" name="subject" id="subject" placeholder="Subject *" class="input-field"><br>
        

             <label for="website" class="label">Website:</label><br>
            <input type="text" name="website" id="website" placeholder="Website *" class="input-field"><br><br>
           

            <textarea name="message" id="message" placeholder="Your message *" required class="input-field" rows="6"></textarea><br>

        <button class="btn4">Submit</button>
        </form>
    </div>
  </main>

   <!-- footer -->
<footer class="footer">
  <div class="wrapper">
    <div class="newsletter">
      <h2>Subscribe to our free Newsletter</h2>
      <div class="form">
          <input class="form-control" placeholder="Enter Your Email...">
          <button class="btn3">Subscribe</button>
      </div>
  </div>
      <div class="row">
         <div class="footer-col">
          <h4>Debt Finder</h4>
          <ul>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="whatweoffer">What We Offer</a></li>
            <li><a href="reg">Register</a></li>
            <li><a href="faq">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Our Service</h4>
          <ul>
            <li><a href="debtlisting">Debt Listing</a></li>
            <li><a href="receiptmanagement">Receipt Management</a></li>
            <li><a href="admin">Admin Collaboration</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Contact Us</h4>
            <div class="social-links"></div>
            <a href="facbook"><i class="fa-brands fa-facebook"></i></a>
            <a href="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="globe"><i class="fa fa-globe"></i></a>
        </div>
        </div>
      </div>
    
      <div class="footer-bottom">
        <p>Copyright &copy; 2022 Debt Finder. All right reserved</p>
        <div class="footer-menu">
          <a href="#privacy policy">Privacy Policy</a>
          <a href="# terms and condition">Terms and Condition</a>
        </div>
      </div>
      </footer>
    </body>